@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    color: inherit;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    height: 100%;
    background-image: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

p {
    padding: 0;
    margin: 0;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
    text-align: right;
}

textarea:focus {
    border: none;
}

:root {
    --calc-bg-color-light: white;
    --calc-bg-color-dark: hsl(220, 34%, 19%);

    --keys-bg-color-light: hsl(0, 0%, 97%);
    --keys-bg-color-dark: hsl(222, 27%, 25%);

    --button-color-light: hsl(0, 0%, 95%);
    --button-color-light-hover: hsl(0, 0%, 90%);

    --button-color-dark: hsl(222, 27%, 22%);
    --button-color-dark-hover: hsl(222, 27%, 15%);

    --color-accent-green: hsl(169, 85%, 60%);
    --color-accent-orange: hsl(359, 83%, 72%);
}

.light {
    --bg: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    --theme-toggle-bg: hsl(0, 0%, 94%);
    --calc-bg: var(--calc-bg-color-light);
    --keys-bg: var(--keys-bg-color-light);
    --button-bg: var(--button-color-light);
    --button-bg-hover: var(--button-color-light-hover);
    --font-color: black;
    --font-color-preview: hsl(0, 0%, 45%);
}

.dark {
    --bg: linear-gradient(to top, #0f2027, #203a43, #2c5364);
    --theme-toggle-bg: var(--color-accent-green);
    --calc-bg: var(--calc-bg-color-dark);
    --keys-bg: var(--keys-bg-color-dark);
    --button-bg: var(--button-color-dark);
    --button-bg-hover: var(--button-color-dark-hover);
    --font-color: white;
    --font-color-preview: hsl(0, 0%, 80%);
}

.calc {
    max-width: 540px;
    max-height: 960px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.15);
    background-color: var(--calc-bg);
    transition: background-color .3s ease-in-out;
    position: relative;
}

.calc-display {
    height: 38%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: 2rem;
}

.calc-display {
    font-size: 5rem;
    text-align: right;
}

.theme-toggle-container {
    position: absolute;
    left: 0;
    display: flex;
}

.theme-label {
    background-color: var(--theme-toggle-bg);
    transition: background-color .1s ease-in-out;
    box-shadow: 0 0 5px -1px rgba(34, 60, 80, 0.6) inset;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
}

.theme-toggle {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid hsl(0, 0%, 86%);
    position: absolute;
    transform: translateX(-5%);
    transition: transform 0.2s ease-in-out;
}

.theme-chk:checked + .theme-label .theme-toggle {
    transform: translateX(100%);
}

.theme-chk {
    visibility: collapse;
}

.calc-input {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    padding-top: 50px;
    background-color: var(--calc-bg);
    transition: background-color .3s ease-in-out;
}

.calc-input::-webkit-scrollbar {
    display: none;
}

.calc-result-preview {
    color: var(--font-color-preview);
    font-size: 3.5rem;
}

.calc-keys {
    height: 62%;
    border-radius: 30px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: var(--keys-bg);
    transition: background-color .3s ease-in-out;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
}

.calc button {
    background-color: var(--button-bg);
    padding: 0;
    border-radius: 30px;
    border: none;
    font-size: 3.5rem;
    transition: all .03s ease-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc .operator {
    font-weight: bold;
}

.calc button:active {
    transform: scale(0.95);
    background-color: var(--button-bg-hover);
}

.accent-green {
    color: var(--color-accent-green);
}

.accent-orange {
    color: var(--color-accent-orange);
}

.notification {
    color: white;
    position: absolute;
    font-size: 2rem;
    background-color: hsl(0, 0%, 50%);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .5s ease-in-out;
}

@media screen and (max-width: 540px) {
    .calc {
        border-radius: unset;
    }

    .notification {
        font-size: 1.5rem;
    }
}